= render 'accounts/head'

.box-n
  .box-n-nav
    ul.tab
      li.tab-item
        = active_link_to t('.hot'), account_comments_root_path, active: :exclusive
      li.tab-item
        = active_link_to t('.recent'), recent_account_comments_path

  .box-n-body
    = render 'comments/list', comments: @comments,
                              show_reply_link: false,
                              show_story: true

= paginate @comments, theme: :mini_box
