.container
  .columns
    .column.col-6.col-mx-auto
      h2.mb-4.text-center
        = Setting.site_title

      .card
        .card-body
          - if Setting.open_registrations
            = simple_form_for(resource, as: resource_name, url: user_registration_path, wrapper: :spectre_vertical_form) do |f|
              = f.fields_for :account do |ff|
                = ff.input :username, wrapper: :vertical_input_group, required: false do
                  = ff.input_field :username, class: 'form-input'
                  .input-group-addon.tooltip(data-tooltip=Rails.application.config.action_mailer.default_url_options[:host])
                    | @#{Rails.application.config.action_mailer.default_url_options[:host].truncate(20)}

              = f.input :email
              = f.input :password
              = f.input :password_confirmation

              br

              .form-group.mb-0
                = f.button :submit, t('.sign_up'), class: 'btn btn-info btn-block'

          - else
            .p-4
              h2.h4= t('.registration_disabled')
              hr.mb-4

              - if Setting.closed_registrations_message.blank?
                p.mb-0= t('.registration_is_currently_disabled')
              - else
                == Setting.closed_registrations_message

      = render "devise/shared/links"
