.alert-n {
  border-radius: n-border-radius(sm);
  padding: n-space(3);
  margin-bottom: n-space(3);

  *:last-child {
    margin: 0;
  }

  &--info {
    background-color: n-color(indigo-lightest);
    color: n-color(indigo);
  }

  &--success {
    background-color: n-color(green-lightest);
    color: n-color(green);
  }

  &--warning {
    background-color: n-color(orange-lightest);
    color: n-color(orange);
  }

  &--danger {
    background-color: n-color(red-lightest);
    color: n-color(red);
  }
}
