.box-n {
  background-color: n-color(white);
  box-shadow: n-shadow(sm);
  border-radius: n-border-radius(sm);
  margin-bottom: n-space(3);

  &-title {
    font-size: n-text-size(xl);
  }

  &-body {
    padding: n-space(3);
  }

  &-nav {
    padding-left: n-space(2);
    font-size: n-text(xs);
    border-bottom: n-border-width(default) solid n-color(grey-light);
    font-size: 0.7rem;

    .tab {
      border-bottom: 0;
      margin-bottom: -1px;
    }

    .tab-item a {
      margin: 0;
      padding: 0.6rem 0.6rem 0.5rem 0.6rem !important;
    }

    .tab .tab-item.active a,
    .tab .tab-item a.active {
      border-color: n-color(indigo);
      color: n-color(indigo);
      font-weight: n-font-weight(semibold);
    }

    .tab .tab-item a:focus,
    .tab .tab-item a:hover {
      color: n-color(indigo-dark);
    }
  }
}
