.form-group-n {
  margin-bottom: n-space(2);
}

.form-label-n {
  font-weight: n-font-weight(semibold);
  display: block;
  padding-top: n-space(1);
  padding-bottom: n-space(1);
}

.form-input-n {
  display: block;
  border: n-border-width(default) solid n-color(grey);
  padding: n-space(2);
  border-radius: n-border-radius(sm);
  color: n-color(grey-darker);
  width: 100%;
}

.form-input-hint-n {
  color: n-color(grey);
  font-size: n-text-size(xs);
  margin-top: n-space(1);
  margin-bottom: 0;
}

.form-invalid-feedback-n {
  color: n-color(red-lighter);
  font-size: n-text-size(xs);
  margin-top: n-space(1);
}
