table {
  border-spacing: 0;
}

th, td {
  margin: 0;
  border-width: 0;
}

.table-n {
  width: 100%;

  th, td {
    padding: n-space(2) n-space(1);
    border-style: solid;
    border-color: n-color(grey-light);

    text-align: left;
  }

  th {
    border-bottom-width: n-border-width(2);
  }

  td {
    border-bottom-width: n-border-width(default);
  }
}
