- show_parent_link = defined?(show_parent_link) && show_parent_link ? show_parent_link : false
- show_story = defined?(show_story) && show_story ? show_story : false
- show_children = defined?(show_children) && show_children ? show_children : false
- show_reply_link = local_assigns.has_key?(:show_reply_link) ? show_reply_link : true

- if comments.any?
  ul.comments-list
    - @comments.each do |comment|
      = render 'comments/comment', comment: comment,
                                   show_story: show_story,
                                   show_children: show_children,
                                   show_reply_link: show_reply_link

- else
  .empty(data-target="first-comment.empty")
    .empty-icon
      | &times;
    p.empty-title.h5 = t('.no_comments_to_show')
    p.empty-subtitle = t('.maybe_try_changing_search')
