- set_meta_tags @comment.decorate

.stories-list.box-n
  ul.list-unstyled
    = render @comment.story

.box-n
  .box-n-body.p-3
    p.mb-2.text-xs = t('.that_s_only_a')
    p.m-0
      a.btn-n.btn-n-sm.btn-n-outline-secondary(href=@comment.story.decorate.path)
        = t('.see_all_the_comments')

      - if @comment.parent_id.present?
        a.btn-n.btn-n-sm.btn-n-outline-secondary.ml-2(href=comment_path(@comment.parent_id))
          = t('.see_parent_comment')

.box-n(data-controller="comments-tree")
  .box-n-body.p-3
    ul.comment-children
      = render 'comments/comment', comment: @comment,
                                   children: @children,
                                   show_children: true
