.text-center
  ul.list-inline.pt-3
    - if controller_name != 'sessions'
      li.list-inline-item
        = link_to t('.log_in'), new_user_session_path

    - if devise_mapping.registerable? && controller_name != 'registrations'
      li.list-inline-item
        = link_to t('.sign_up'), new_user_registration_path

    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      li.list-inline-item
        = link_to t('.forgot_your_password'), new_user_password_path

    - if devise_mapping.confirmable? && controller_name != 'confirmations'
      li.list-inline-item
        = link_to t('.didn_t_receive_confirmation'), new_user_confirmation_path

    - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
      li.list-inline-item
        = link_to t('.didn_t_receive_unlock'), new_user_unlock_path
