.box-n.tag-head
  .box-n-body
    h2.m-0 = t('.notifications')

.box-n
  .box-n-nav
    ul.tab
      li.tab-item
        = active_link_to t('.all'), notifications_path, active: :exclusive
      li.tab-item
        = active_link_to t('.unread'), unread_notifications_path

  - @notifications.each do |n, notification = NotificationPresenter.new(n)|
    .tile.notifications-item(class=('bg-secondary' if !notification.seen?))
      .tile-icon
        a(href=notification.author.decorate.path)
          img.avatar.avatar-lg(src=notification.author.avatar_url(:size_60))

      .tile-content
        p
          = notification.sentence

        p.text-gray.notifications-item-when(
          data-controller="time-ago"
          data-datetime=notification.created_at.iso8601
        ) = notification.created_at

  - if @notifications.empty?
    .empty.empty-transparent
      .empty-icon
        | &times;
      p.empty-title.h5 = t('.nothing_to_show')

- if @notifications.try(:total_pages)
  = paginate @notifications, theme: :mini_box
