header.navbar-main
  .container
    .navbar
      section.navbar-section
        = link_to Setting.site_title, root_path, class: 'navbar-brand'
        = render 'shared/_navbar/jumpbox'

      section.navbar-section
        = active_link_to t('.add_story'), new_story_path, class: 'btn btn-link'

        - if user_signed_in?
          = render 'shared/_navbar/notifications'
          = render 'shared/_navbar/profile'
        - else
          = link_to t('.join_us'), new_user_session_path, class: 'btn btn-link'
