.navbar-main {
  background: #16a1b5;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  .navbar-brand {
    font-size: 1.05rem;
    color: #fff;
    margin-right: 1rem;
    font-weight: 400;
  }

  .btn-link .fe {
    // color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    margin-top: 4px;
    display: inline-block;
    font-size: 18px;
  }

  .btn-link {
    color: rgba(255, 255, 255, .5);

    &:hover {
      color: rgba(255, 255, 255, .8);
    }

    &.active {
      color: #fff;
    }
  }

  &-profile {
    .btn-link {
      padding-top: 2px;
    }
  }

  &-notifications {
    &::after {
      top: 8px !important;
      right: 8px !important;
      background-color: $error-color !important;
      width: 7px !important;
      height: 7px !important;
      box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, .9) !important;
    }
  }
}
