.text-comment {
  font-size: 0.7rem;

  p {
    margin-bottom: 0.7rem;
  }

  h1 { font-size: 21px; font-weight: 600 }
  h2 { font-size: 18px; }
  h3 { font-size: 16px; }
  h4 { font-size: 14px; }
  h5 { font-size: 12px; font-weight: 700 }
  h6 { font-size: 10px; font-weight: 800 }

  h1:first-child {
    margin-top: .5rem;
  }
}

.text-post {
  h5 { font-weight: 700; }
  h6 { font-weight: 800; }
}
