.new-story-page
  .new-story-page-content
    .box-n
      .box-n-body.p-4
        h1.h3 = t('.title')

        p
          = t('.submit_text')

        .divider

        = render 'stories/form', story: @story

  = render 'stories/guidelines'
