.mt-4
  h2 = t('.dropdowns')

  .columns
    .col-6
      ul.menu-n.menu-n--opened(style="width: 280px")
        li.menu-n__item
          a = t('.my_profile')
        li.menu-n__item
          a.active = t('.settings')
        li.menu-n__divider(data-content="Divider")
        li.menu-n__item
          a = t('.log_out')

    .col-6
      div(data-controller="dropdown")
        a.btn-n.btn-n-primary(href="javascript:void(0)" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
          = t('.click_me')

        ul.menu-n(style="width: 280px" data-target="dropdown.dropdown")
          li.menu-n__item
            a = t('.my_profile')
          li.menu-n__item
            a.active = t('.settings')
          li.menu-n__divider(data-content="Divider")
          li.menu-n__item
            a = t('.log_out')

  hr

  h2 = t('.popovers')

  div(data-controller="popover" data-popover-placement="bottom-start")
    a.btn-n.btn-n-primary(
      href="javascript:void(0)"
      data-target="popover.toggle"
      data-action="mouseenter->popover#delayedOpen"
    )
      = t('.hover_me')

    div.box-n.popover-n(
      style="width: 280px"
      data-target="popover.popover"
      data-action="mouseleave->popover#delayedClose"
    )
      .box-n-body
        span = t('.popover_content_goes_here')

  hr

  h2 = t('.buttons')

  h6 = t('.filled')

  div.mb-2
    a.btn-n.btn-n-lg.btn-n-primary.mr-2 = t('.button')
    a.btn-n.btn-n-lg.btn-n-secondary.mr-2 = t('.button')
    a.btn-n.btn-n-lg.btn-n-success.mr-2 = t('.button')
    a.btn-n.btn-n-lg.btn-n-danger.mr-2 = t('.button')

  div.mb-2
    a.btn-n.btn-n-primary.mr-2 = t('.button')
    a.btn-n.btn-n-secondary.mr-2 = t('.button')
    a.btn-n.btn-n-success.mr-2 = t('.button')
    a.btn-n.btn-n-danger.mr-2 = t('.button')

  .mb-4
    a.btn-n.btn-n-sm.btn-n-primary.mr-2 = t('.button')
    a.btn-n.btn-n-sm.btn-n-secondary.mr-2 = t('.button')
    a.btn-n.btn-n-sm.btn-n-success.mr-2 = t('.button')
    a.btn-n.btn-n-sm.btn-n-danger.mr-2 = t('.button')

  h6 = t('.outlined')

  div.mb-2
    a.btn-n.btn-n-lg.btn-n-outline-primary.mr-2 = t('.button')
    a.btn-n.btn-n-lg.btn-n-outline-secondary.mr-2 = t('.button')
    a.btn-n.btn-n-lg.btn-n-outline-success.mr-2 = t('.button')
    a.btn-n.btn-n-lg.btn-n-outline-danger.mr-2 = t('.button')

  div.mb-2
    a.btn-n.btn-n-outline-primary.mr-2 = t('.button')
    a.btn-n.btn-n-outline-secondary.mr-2 = t('.button')
    a.btn-n.btn-n-outline-success.mr-2 = t('.button')
    a.btn-n.btn-n-outline-danger.mr-2 = t('.button')

  div.mb-2
    a.btn-n.btn-n-sm.btn-n-outline-primary.mr-2 = t('.button')
    a.btn-n.btn-n-sm.btn-n-outline-secondary.mr-2 = t('.button')
    a.btn-n.btn-n-sm.btn-n-outline-success.mr-2 = t('.button')
    a.btn-n.btn-n-sm.btn-n-outline-danger.mr-2 = t('.button')

  hr

  h2 Alerts

  .alert-n.alert-n--info
    p This is info alert

  .alert-n.alert-n--success
    p This is success alert

  .alert-n.alert-n--warning
    p This is warning alert

  .alert-n.alert-n--danger
    p This is danger alert
