.dropdown.dropdown-right.navbar-main-profile(
  data-controller="dropdown"
  data-dropdown-placement="bottom-end"
)
  a.btn.btn-link(href="javascript:void(0);" data-target="dropdown.toggle" data-action="click->dropdown#toggle click@window->dropdown#hide")
    = image_tag current_account.avatar_url(:size_60), class: 'avatar'

  ul.menu-n(data-target="dropdown.dropdown" style="min-width: 200px")
    li.menu-n__item
      .tile.tile-centered
        .tile-icon
          = image_tag current_account.avatar_url(:size_60), class: 'avatar'
        .tile-content = current_account

    li.menu-n__divider
    li.menu-n__item
      = link_to 'My Profile', current_account.path
    li.menu-n__item
      = link_to 'Settings', settings_profile_path

    - if current_user.is_admin?
      li.menu-n__item
        = link_to 'Admin', edit_admin_settings_path

    li.menu-n__divider
    li.menu-n__item
      = link_to 'Sign-out', destroy_user_session_path, data: { method: "delete" }
