= simple_form_for @account, url: settings_profile_path do |f|
  .box-n.mb-3
    .box-n-body.p-4
      = f.input :display_name
      = f.input :bio

      .row
        .col-6
          .d-none
            = f.input :avatar, as: :hidden, input_html: { value: @account.cached_avatar_data }
          = f.input :avatar, as: :file

        .col-6.text-right
          - if @account.avatar_data?
            = image_tag @account.avatar_url(:size_400), size: '100x100', class: 'img-circle'
            = f.input :remove_avatar, as: :boolean

  = f.button :submit
